<!DOCTYPE html>
<html>
<head>
    <title>Vote pour la fonctionnalité</title>
    <script>
        function submitVote(vote) {
            fetch('/submit_vote', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: `vote=${encodeURIComponent(vote)}`
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('status').textContent = "Vote enregistré";
                } else {
                    console.error(data.error);
                }
            })
            .catch(error => console.error('Erreur:', error));
        }
    </script>
</head>
<body>
    <h1>Fonctionnalité : {{ feature['name'] }}</h1>
    <h2>Description : {{ feature['description'] }}</h2>

    <div id="votesList">
        <!-- Liste des votes visibles -->
    </div>

    <div>
        <!-- Boutons pour voter -->
        {% for value in [0, 1, 2, 3, 5, 8, 13, 20, 40, 100, 'cafe', '?'] %}
        <button onclick="submitVote('{{ value }}')">{{ value }}</button>
        {% endfor %}
    </div>
    <p id="status"></p>

    {% if player_role == "creator" %}
    <button onclick="nextFeature()">Passer à la fonctionnalité suivante</button>
    {% endif %}
    {% include "chat.html"%}

    <script>
        function nextFeature() {
            fetch('/next_feature', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.completed) {
                        window.location.href = '/results';
                    } else if (data.next_feature) {
                        location.reload();
                    } else if (data.error) {
                        alert(data.error);
                    }
                })
                .catch(error => console.error('Erreur:', error));
        }        
        
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        const socket = io();
        const gameKey = "{{ game_key }}";
 
        socket.emit('join_room', { game_key: gameKey });

        socket.on('redirect', (data) => {
            console.log("Redirection vers :", data.redirect_url);
            window.location.href = data.redirect_url;
        });

        socket.on('update_feature', (data) => {
            console.log("Nouvelle fonctionnalité reçue :", data.feature);
            document.querySelector('h1').textContent = "Fonctionnalité : " + data.feature.name;
            document.querySelector('h2').textContent = "Description : " + data.feature.description;
            document.getElementById('votesList').textContent = '';
            document.getElementById('status').textContent = '';
        });
    </script>
</body>
</html>
